.error-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Un z-index más alto para que aparezca sobre otros modales si es necesario */
}

.error-modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-top: 5px solid #d9534f; /* Borde rojo para indicar error */
}

.error-modal-content h3 {
    margin-top: 0;
    color: #d9534f; /* Color rojo para el título */
    font-size: 1.5rem;
}

.error-modal-content p {
    margin: 1rem 0;
    color: #333;
    font-size: 1rem;
}

.btn-error {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-error:hover {
    background-color: #c9302c;
}